/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Reusable Styles */
:root{
    --primary: #000;
    --secondary: #eee;
    --button: #dd0000;
    --pure: #fff;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
img{
    width: 100%;
}
a{
    display: inline-block;
    text-decoration: none;
    color: var(--pure);
}
ul{
    list-style: none;
}
.text-center{
    text-align: center;
}
.grid{
    display: grid;
}
.grid-two-columns{
    grid-template-columns: repeat(3, 1fr);
}
.grid-three-columns{
    grid-template-columns: repeat(3, 1fr);
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

/* Main Styles */
.hero{
    padding: 40px 0;
}
/* .hero-data-content{
    background: purple;
}
.hero-data-image{
    background: #000;
} */
.hero-data{
    background: rgb(34, 34, 34);
    color: var(--pure);
    border-radius: 20px;
}
.hero-data .content-width{
    width: 40%;
    margin: 0 auto;
}
.hero-data-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 75px;
}
.hero-data-content p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.hero-data-content .header-btn{
    color: var(--pure);
    background: var(--button);
    padding: 10px 20px;
    border-radius: 5px;
}
.hero-data-content span{
    margin-right: 10px;
}

/* Style for Blog */
.padding{
    padding: 50px;
}
.menubar{
    width: 300px;
    height: 50%;
    margin-right: 30px;
    border-radius: 10px;
    background: var(--secondary);
    padding: 40px 30px;
}
.menubar .navbar li{
    margin: 10px 0;
}
.menubar .navbar{
    flex-direction: column;
}
.menubar .navbar a{
    display: inline-block;
    background: var(--button);
    padding: 10px 20px;
    width: 240px;
    border-radius: 10px;
    text-align: center;
}
.navbar .active{
    background: var(--primary)!important;
}

.right{
    gap: 20px;
    width: 100%;
}
.single-post{
    border: 2px solid var(--secondary);
    padding: 10px 10px;
    border-radius: 10px;
}
.single-post a{
    display: inline-block;
    color: var(--primary);
    padding: 5px 15px;
    border: 1px solid var(--secondary);
    margin: 20px 0;
    border-radius: 5px;
}

/* Style for Matches */
.schedule-data .matches .matchday img{
    width: 50px;
    height: 35px;
}
.matches .matchday {
    border: 1px solid var(--secondary);
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column;   */
    background: #f7f7f7;
    border-radius: 5px;
    padding: 2rem 0;
    /* align-items: center; */
}
.matchday  span{
    margin: 8px 10px 0 10px;
    font-size: .9rem;
}
.matchday .bottom{
    margin-top: 10px;
}



/* Style for Groups */
.all-groups .single-group{
    box-shadow: 0 0 20px #ddd;
    border-radius: 5px;
    background: #f7f7f7;
}
.single-group img{
    width: 35px;
    margin-right: 15px;
}
.single-group .country-list{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* border: 1px solid rgb(6, 27, 60); */
   
}
.single-group h2{
    background: rgb(6, 27, 60);
    color: var(--pure);
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 5px;
}
.single-group li{
    padding: 10px 0;
    display: flex;
    /* width: 52%; */
}


/* Footer Style */

.footer{
    background: #222;
    padding: 100px 0;
}
.footer h2{
    color: var(--pure);
    font-size: 2.5rem;
    font-weight: 600; 
}
.white-line{
    border: none;
    border-bottom: 2px solid rgb(148, 148, 148, .1);
    margin: 4rem;
}
.footer .footer-links a{
    margin: 0 25px;
    font-weight: 500;
}
.footer .social-links{
    margin-top: 3rem;
}
.social-links a{
    font-size: 2.3rem;
    margin: 0 10px;
}
